[submodule "UniversityTimetablingSystem/argparse"]
	path = UniversityTimetablingSystem/argparse
	url = https://github.com/jamolnng/argparse.git
[submodule "UniversityTimetablingSystem/nlohmann"]
	path = UniversityTimetablingSystem/nlohmann
	url = https://github.com/nlohmann/json.git
