[submodule "UniversityTimetablingSystem/argparse"]
	path = UniversityTimetablingSystem/submodules/argparse
	url = https://github.com/jamolnng/argparse.git

[submodule "UniversityTimetablingSystem/nlohmann"]
	path = UniversityTimetablingSystem/submodules/nlohmann
	url = https://github.com/nlohmann/json.git

[submodule "UniversityTimetablingSystem/googletest"]
	path = UniversityTimetablingSystem/submodules/googletest
	url = https://github.com/google/googletest.git
