[submodule "UniversityTimetablingSystem/submodules/nlohmann"]
	path = UniversityTimetablingSystem/submodules/nlohmann
	url = https://github.com/nlohmann/json.git

[submodule "UniversityTimetablingSystem/submodules/googletest"]
	path = UniversityTimetablingSystem/submodules/googletest
	url = https://github.com/google/googletest.git

[submodule "UniversityTimetablingSystem/submodules/pybind11"]
	path = UniversityTimetablingSystem/submodules/pybind11
	url = https://github.com/pybind/pybind11.git
